div {
  display: flex;
}

.ml-20 {
  margin-left: 20px;
}

.icon-text {
  margin-top: auto;
  margin-left: 10px;
}

.features {
  margin-left: -15px;
  height: 34px;
}

.content-start {
  margin-top: -20px
}

.creatOnText {
  font-size: small;
  color: lightgrey;
}

.call-btn {
  margin-left: -4px;
}

img {
  height: 280px;
  width: 373px;
  object-fit: cover;
}
